<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.succlz123.blueboard">

    <!-- network access -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- gsm网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- wifi网路信息  -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- write sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--获取设备信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:name=".controller.activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".controller.activity.acfun.AcPartitionActivity"
                android:theme="@style/dyeTheme">
        </activity>

        <activity
                android:name=".controller.activity.acfun.AcContentActivity">
        </activity>

        <activity
                android:name=".controller.activity.video.VideoPlayActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="landscape">

            <!--android:process=":OkExoPlayer"-->
        </activity>

        <activity
                android:name=".controller.activity.acfun.DownLoadActivity"
                android:theme="@style/dyeTheme">
        </activity>

        <service android:name=".service.DownloadService"
                 android:enabled="true"
                 android:permission="org.succlz123.blueboard.DownloadService"/>

    </application>

</manifest>
